# <center> Module 2: Lesson 3 Data Cleaning </center>
##  <center>Sample Data Cleaning <br> with Pandas Library Functions </center>
<center>by: Nicole Woodland, P. Eng. for RoboGarden Inc. </center>

---

This notebook demonstrates multiple ways to perform data cleaning on new datasets. Some process in data cleaning include how to:
- Deal with missing values in a dataset.
- Deal with duplicate values in a dataset.
- Drop any unneeded columns.
- Use apply map function to perform an operation on all values of a feature.

Dataset: https://www.kaggle.com/datasets/crawford/80-cereals
Note: Modifications have been made to the original dataset to showcase the different functions.

In [1]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd
df = pd.read_csv("..\cereal_mod.csv")

In [3]:
df.head(5)

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120.0,3,5,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,NaN,70.0,4,1,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,NaN,50.0,4,0,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,NaN,2,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [7]:
df.describe()

,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000
mean,106.753247,2.538462,1.000000,1.000000,161.346154,2.137179,14.679487,6.858974,95.294872,28.205128,2.192308,1.029231,0.823333,42.706700
std,19.496394,1.089410,1.006473,1.006473,84.583291,2.371427,4.312451,4.450957,71.159252,22.200011,0.838330,0.149534,0.232086,13.960470
min,50.000000,1.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,0.000000,131.250000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.376490
50%,110.000000,2.500000,1.000000,1.000000,180.000000,1.750000,14.500000,6.500000,90.000000,25.000000,2.000000,1.000000,0.750000,40.424490
75%,110.000000,3.000000,1.750000,1.750000,217.500000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.812544
max,160.000000,6.000000,5.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [13]:
print(df.isna().sum())

name        0
mfr         0
type        3
calories    1
protein     0
fat         0
fat.1       0
sodium      0
fiber       0
carbo       0
sugars      0
potass      0
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

In [21]:
# Drop rows with missing values
df.dropna(inplace = True)
df

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Natural Bran,Q,C,120.0,3,5,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
5,Apple Cinnamon Cheerios,G,C,110.0,2,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,Apple Jacks,K,C,110.0,2,0,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,Basic 4,G,C,130.0,3,2,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,Triples,G,C,110.0,2,1,1,250,0.0,21.0,3,60,25,3,1.00,0.75,39.106174
74,Trix,G,C,110.0,1,1,1,140,0.0,13.0,12,25,25,2,1.00,1.00,27.753301
75,Wheat Chex,R,C,100.0,3,1,1,230,3.0,17.0,3,115,25,1,1.00,0.67,49.787445
76,Wheaties,G,C,100.0,3,1,1,200,3.0,17.0,3,110,25,1,1.00,1.00,51.592193
77,Wheaties Honey Gold,G,C,110.0,2,1,1,200,1.0,16.0,8,60,25,1,1.00,0.75,36.187559

In [23]:
len(df)

74

In [27]:
# Alternative is to 'Fill' missing values!

# For categorical data - can replace with the MODE
df = pd.read_csv("..\cereal_mod.csv")
display(df.head(5))

df["type"].fillna(value = df['type'].mode().loc[0], inplace = True)
df.head(5)

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120.0,3,5,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,NaN,70.0,4,1,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,NaN,50.0,4,0,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,NaN,2,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120.0,3,5,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70.0,4,1,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50.0,4,0,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,NaN,2,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [31]:
# For numerical data, can fill missing values with the mean:

print("Mean of Calories columns: ", df['calories'].mean())
display(df.head(5))

df['calories'].fillna(value = df['calories'].mean(), inplace = True)
display(df.head(5))

Mean of Calories columns:  106.75324675324676

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.000000,4,1,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120.000000,3,5,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70.000000,4,1,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50.000000,4,0,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,106.753247,2,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.000000,4,1,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120.000000,3,5,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70.000000,4,1,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50.000000,4,0,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,106.753247,2,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [33]:
# or alternatively using backfill (bfill) or forward fill (ffill)
df = pd.read_csv("..\cereal_mod.csv")
display(df.head(5))

df['calories'].fillna(method = 'ffill', inplace = True)
display(df.head(5))

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120.0,3,5,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,NaN,70.0,4,1,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,NaN,50.0,4,0,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,NaN,2,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120.0,3,5,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,NaN,70.0,4,1,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,NaN,50.0,4,0,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,50.0,2,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [ ]:
# Finally, using interpolation to interpolate the previous and the next value to get the missing value
## This method is typically used for Time Series data

df = pd.read_csv("..\cereal_mod.csv")
df['type'].fillna(value = df['type'].mode().loc[0], inplace = True)
display(df.head(6))

df['calories'].interpolate(method = "linear", inplace = True)
display(df.head(6))

### Dealing with Duplicates

We can find and remove duplicate data easily with Pandas

In [ ]:
print(sum(df.duplicated()))

In [ ]:
df.drop_duplicates(subset = ['name'], keep = "first", inplace = True)
df

In [ ]:
# If there are duplicated columns, those can be removed by transposing the dataframe:
## (Note pandas picked up on the duplicate column before with the fat.1 notation in the header

display(df.head(3))
df = df.transpose().drop_duplicates().transpose()
df.head(3)

### Cleaning Data using Custom Operations

#### By Using Arithmetic Operations

In [ ]:
# For example, standardize units:

display(df.head(3))
df["weight"] = df['weight'] * 28.35
display(df.head(3))

#### By using the Apply Function in Pandas

In [ ]:
def update_mfr(val):
    manufact_dict = {"A" : "American Home Food Producers",
                 "G" : "General Mills",
                 "K" : "Kellogs",
                 "N" : "Nabisco",
                 "P" : "Post",
                 "Q" : "Quaker Oats",
                 "R" : "Ralston Purina"}
    manufacturer_full_name = manufact_dict[val]
    return manufacturer_full_name

display(df.head(3))
df['mfr'] = df['mfr'].apply(update_mfr)
display(df.head(3))

#### By Using String Operations

In [ ]:
display(df.head(3))
df['type'] = df['type'].str.lower()
display(df.head(3))

### Now the data is ready to proceed to Pre-Processing