Description:
Thera Bank is a US bank that has a growing customer base. The majority of these customers are liability customers (depositors) with varying sizes of deposits. The number of customers who are also borrowers (asset customers) is quite small, and the bank is interested in expanding this base rapidly to bring in more loan business and in the process, earn more through the interest on loans. In particular, the management wants to explore ways of converting its liability customers to personal loan customers (while retaining them as depositors).
A campaign that the bank ran last year for liability customers showed a healthy conversion rate of over 9% success. This has encouraged the retail marketing department to devise campaigns with better target marketing to increase the success ratio.
ID: Customer ID
Age: Customerâ€™s age in completed years
Experience: #years of professional experience
Income: Annual income of the customer (in thousand dollars)
ZIP Code: Home Address ZIP code
Family: the Family size of the customer
CCAvg: Average spending on credit cards per month (in thousand dollars)
Education: Education Level
Mortgage: Value of house mortgage if any. (in thousand dollars)
Personal_Loan: Did this customer accept the personal loan offered in the last campaign?
Securities_Account: Does the customer have a securities account with the bank?
CD_Account: Does the customer have a certificate of deposit (CD) account with the bank?
Online: Do customers use internet banking facilities?
CreditCard: Does the customer use a credit card issued by any other Bank (excluding All life Bank)?

https://www.kaggle.com/datasets/itsmesunil/bank-loan-modelling

In [6]:
#Step 1: Import Basic Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Step2: Reading The Dataset
df = pd.read_excel('Bank_Personal_Loan_Modelling.xlsx', sheet_name= 'Data')
#print(df.head())
df.info()  # The data set has been updated from the info from within this project worksheet. 
# In the worksheet, its states Dtype int64 (integer): 8 attributes, Dtype float64 (float): 5 attributes, Dtype object (string): 1 attribute

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [7]:
df[['Age', 'Income', 'CCAvg']].describe()

               Age       Income        CCAvg
count  5000.000000  5000.000000  5000.000000
mean     45.338400    73.774200     1.937913
std      11.463166    46.033729     1.747666
min      23.000000     8.000000     0.000000
25%      35.000000    39.000000     0.700000
50%      45.000000    64.000000     1.500000
75%      55.000000    98.000000     2.500000
max      67.000000   224.000000    10.000000