<h1><center> Module 1 - Lesson 5 </center></h1>

#### Functions, Modules & Libraries: 

---
- Creating and using functions
- Function arguments
- import function and creating/using Modules
- Python libraries

### Functions

In [3]:
# Create a new function!

#keyword function_name ():
 #  code block

def happy_funday () :
    print("Welcome to the almost best day of the week!")

In [4]:
# Creating a functions is like creating a variable, but containing code
# No output until you ask it to display or use it
a = 1

In [5]:
a

1

In [6]:
happy_funday()

Welcome to the almost best day of the week!

In [7]:
def happy_friday () :
    print("Welcome to the best day of the week!")

happy_friday()

Welcome to the best day of the week!

In [8]:
# Add the 'return' to the end of a function to send info out

def second_in_hour():
    sec_in_min = 60
    min_in_hour = 60
    print("Calculating inside the function:",sec_in_min*min_in_hour)
    return sec_in_min*min_in_hour

In [9]:
second_in_hour()

Calculating inside the function: 3600

3600

In [10]:
minutes = second_in_hour()
minutes

Calculating inside the function: 3600

3600

In [11]:
print(second_in_hour())

Calculating inside the function: 3600
3600

### Function Argments

#### Positional Arguments

Call the function using the arguments in the order they appear in the definition

In [14]:
def welcome(student_name, grade):
    print(f"Hello, {student_name} - Welcome to Grade {grade}!")

In [15]:
welcome("Nicole", "12")

Hello, Nicole - Welcome to Grade 12!

# For example:
def range(starting_value, ending_value, increment = 1):
    code block

In [17]:
range(1,10,1)

range(1, 10)

In [18]:
# Order matters! These are positional!
welcome(12, "Matt")

Hello, 12 - Welcome to Grade Matt!

#### Keyword Arguments

In [20]:
welcome(student_name="Nicole", grade = "12")

Hello, Nicole - Welcome to Grade 12!

In [21]:
welcome(grade = "1", student_name="Omar" )

Hello, Omar - Welcome to Grade 1!

#### Default/Optional Arguments

In [23]:
def sudo_range(starting_value, ending_value, increment = 1):
    print(starting_value+increment)

In [24]:
sudo_range(1,10,5)

6

#### Variable Length Arguments

In [26]:
# use *args to accept a variable 
# number of positional arguments

def multiply_numbers(*args):
    total = 1
    for num in args:
        total *= num
    return total
    
multiply_numbers(1,2,3,5,7,700000)

147000000

In [27]:
# Use **kwargs to create a function that can 
# handle various keyword arguments without 
# explicitly defining them in the function's 
# parameter list. Python uses the keyword as the 'key'
# and the assigment as the 'value' and stores the
# pairs in a dictionary.

In [28]:
def example_function(**kwargs):
    movies = {}  # Create an empty dictionary to store the key-value pairs
    
    for key, value in kwargs.items():
        movies[key] = value  # Save key-value pair in the dictionary
    return movies

In [29]:
result = example_function(movie = "Toy Story", year = 1995, revenue = 395000000)
print(result)

{'movie': 'Toy Story', 'year': 1995, 'revenue': 395000000}

#### Anonymous Functions

In [31]:
# A simple, single line function
double = lambda x : x*2
double(5)

10

## Local and Global Variables

#### Local Variables

In [33]:
def multiply_two_numbers(a,b):
    total = a * b #total is a local variable, temporarily created for the exclusive use of this function
    print(total)
    return total
    
multiply_two_numbers(5, 10)

50

In [34]:
# the variable cannot be accessed outside of the function. (It doesn't actually persist after the use of the function)
total

NameError: name 'total' is not defined

In [64]:
my_total = multiply_two_numbers(5, 10) 
my_total

50

In [65]:
my_total*2

100

#### Global Variables

In [67]:
c = 100 # This is a Global variable (can be used in and outside of any functions)

def multiply_three_numbers(a,b):
    c = 1
    total = a * b * c
    #print(total)
    return total

multiply_three_numbers(5, 10)

50

In [68]:
# This method is preferred if you need to use a global variable inside a function, to control the flow
# of the data and avoid any confusion

def multiply_three_numbers(a,b,c):
    total = a * b * c
    #print(total)
    return total

multiply_three_numbers(5, 10, c)

5000

## Modules

In [70]:
# A separate Python file containing statements 
# and definitions that can be imported
# https://docs.python.org/3/py-modindex.html

# Access these modules with the import keyword

import math

dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [71]:
# Beware the difference between functions and definitions!
math.pi

3.141592653589793

In [72]:
math.pi*2

6.283185307179586

In [73]:
math.sqrt(49)

7.0

In [74]:
# Can import modules with an Alias
import math as m

In [75]:
m.pi

3.141592653589793

In [76]:
# Can import only desired definitions/statements
from math import pi

In [77]:
math.sqrt(49)

7.0

In [78]:
pi

3.141592653589793

In [79]:
# Can import all functions/definitions in a module directly to the main file
from math import *

In [80]:
sqrt(49)

7.0

In [81]:
# Can even import our own module!

import new_module

In [82]:
dir(new_module)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'greeting',
 'square']

In [83]:
new_module.greeting("Nicole")

'Hello, Nicole!'

In [84]:
new_module.square(2)

4

## Libraries

### Numpy
a library for advanced mathematical computations

In [87]:
import numpy as np

In [88]:
# Create a NumPy array

list = [0.1, 0.2, 0.3]
print(type(list))
print(list*2)

arr = np.array([0.1, 0.2, 0.3])
print(type(arr))
print(arr*2)

<class 'list'>
[0.1, 0.2, 0.3, 0.1, 0.2, 0.3]
<class 'numpy.ndarray'>
[0.2 0.4 0.6]

In [89]:
# Can create arrays from different types of Python data objects
# Here we can use the list from a dictionary

data = {'Name': ['Sam', 'Susan', 'Shen'],
        'Age': [25, 30, 22]}

np.array(data["Age"])

array([25, 30, 22])

### pandas
A powerful library for data manipulation and analysis, best known for it's Dataframe, table like, object

In [91]:
# pandas is like Excel, but for Python!

import pandas as pd

In [92]:
df = pd.DataFrame(data)
display(df)

    Name  Age
0    Sam   25
1  Susan   30
2   Shen   22