<h1><center> Module 1 - Lesson 3 - Python Data Types and Operators </center></h1>

#### An Introduction: 

---
- Python Data Types (What kind of information can we work with?)
- Python Operators  (What can we do with information?)

Content from - Python Basics: Python Data Types Mission

In [3]:
# Can assign different types of data to variables:

a = 10 # Integer (10 digits, -2,147,483,648 to 2,147,483,647 because 32 bits max
b = 3.14159 # float
c = 123455555567899999999 # hold up to 64 bits
d = 5 + 2j # complex numbers

#Booleans
h = True
j = False

In [4]:
# Check what type of data the variable holds
type(h)

bool

In [5]:
# Execute a 'Magic Command' to see a list of active variables in the kernel
%whos

Variable               Type        Data/Info
--------------------------------------------
a                      int         10
b                      float       3.14159
c                      int         123455555567899999999
d                      complex     (5+2j)
dataframe_columns      function    <function dataframe_colum<...>ns at 0x000001DA1D122EE0>
dataframe_hash         function    <function dataframe_hash at 0x000001DA1F44C0D0>
dtypes_str             function    <function dtypes_str at 0x000001DA1F44C040>
get_dataframes         function    <function get_dataframes at 0x000001DA1F44C160>
getpass                module      <module 'getpass' from 'C<...>conda3\\lib\\getpass.py'>
h                      bool        True
hashlib                module      <module 'hashlib' from 'C<...>conda3\\lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x000001DA1F44CD30>
is_data_frame          function    <function is_data_frame at 0x000001DA1D1229D0>
j                      bool        False
json                   module      <module 'json' from 'C:\\<...>\lib\\json\\__init__.py'>

### Strings

In [7]:
e = "string variable"

print(e)

string variable

In [8]:
f = "two"
type(f)

str

In [9]:
f = "2"
type(f)

str

### Lists

In [11]:
myList =  [1,2,3,4,5]
print(myList)

[1, 2, 3, 4, 5]

In [12]:
myList = [1,"'2",3.14159,4,5]
print(myList)

[1, "'2", 3.14159, 4, 5]

In [13]:
myList[0]

1

In [14]:
myList[0:2]

[1, "'2"]

In [15]:
myList[2] = "Pi"
myList

[1, "'2", 'Pi', 4, 5]

### Tuples

In [17]:
myTuple = ( 2, "John", 3.14)
print(myTuple)

(2, 'John', 3.14)

In [18]:
# myTuple[2] = "Pi" $ Tuples are immutable, can't change elements once created!

In [19]:
myTuple = ( 2, "John", "Pi")
myTuple

(2, 'John', 'Pi')

### Dictionary
Comprised of a series of key : value pairs
<br> and is a structured way to store data

In [21]:
dt = {      }

dt["A"] = "apples"
dt["B"] = "bananas"

dt

{'A': 'apples', 'B': 'bananas'}

In [22]:
# Retrieve all the keys
dt.keys()

dict_keys(['A', 'B'])

In [23]:
# Retrieve all the values
dt.values()

dict_values(['apples', 'bananas'])

In [24]:
# We'll spend more time on dictionaries in a future lesson!

#### Operators

In [26]:
# Arithmetic Operators (Calculator buttons!)

sum_numbers = 1 + 1
sum_numbers

2

In [27]:
30 / 4

7.5

In [28]:
# Floor Division
floorDiv = 30 // 4
print(floorDiv)

7

In [29]:
# Modulus
modulusDiv = 30 % 4
print(modulusDiv)

2

In [30]:
# Assignment Operators
x = 0
# x = x + 2
x += 2

print ("x += 2:", x)

x += 2: 2

### Comparison Operators

In [32]:
a = c = 10
b = 2

a == c

True

In [33]:
a != c

False

In [34]:
#What's the difference?
# > or >=

a <= c

True

In [35]:
# Can combine Comparison Operators with AND, OR

a > b or c > b

True

In [36]:
a > b and a == c or a > 100

True

In [37]:
# Use membership to look for values within another
a = 10
b = 12

ls = [a, b, "hello"]

print("hello" in ls)
print("hello" not in ls)

True
False

In [38]:
# Use Identity operators to compare digital identity (address)
a= 10
b= 10
c= 4 

print("a is b:", a is b)
print("id(a)==id(c):", id(a)==id(c))

a is b: True
id(a)==id(c): False

### Bitwise Operators

In [40]:
'''
The Bitwise and (&) operator combines the bits of two numbers at
corresponding positions. The result of the bitwise AND operation 
is a new number where each bit is set to 1 only 
if the corresponding bits in both input numbers are also 1; 
otherwise, it is set to 0.

    1   (binary: 0001)
    1   (binary: 0001)
---------------------
   1    (binary: 0001)
'''

a = 1
b = 1

a & b

1

In [41]:
'''The Bitwise or (|) operator combines the bits of two numbers at c
orresponding positions. The result of the bitwise OR operation 
is a new number where each bit is set to 1 either
of the corresponding bits in both input numbers are 1; 
otherwise, it is set to 0.

    1   (binary: 0001)
    2   (binary: 0010)
---------------------
    3   (binary: 0011)
'''

a = 1
b = 2

a | b

3

In [42]:
'''The Bitwise XOR (^) binary operator that performs 
the exclusive disjunction of the bits at corresponding 
positions in two numbers. The result of the XOR operation 
is a new number where each bit is set to 1 
if the corresponding bits in the input numbers are different, 
and it is set to 0 if the bits are the same.

XOR is used in code for things like swapping values, detecting odd 
occurances, and encoding data! 

For example,
    15  (binary: 1111)
^   2   (binary: 0010)
---------------------
    13  (binary: 1101)
'''


a = 15
b = 2

result = a ^ b
print(result)

13